<header id="header">
  <a href="#" class="logo">
    <img src="../../../assets/imgs/logo.png" alt="">
  </a>
  <nav class="header_menu">
    <ul>
      <li>
        <a href="#">Lịch chiếu</a>
      </li>
      <li>
        <a href="#">Cụm rạp</a>
      </li>
      <li>
        <a href="#">Tin tức</a>
      </li>
      <li>
        <a href="#">Ứng dụng</a>
      </li>
    </ul>
  </nav>
    <div *ngIf = "!statusTaiKhoan; else logout">
      <a href="#" class="signin mr-3" [routerLink]="['/dangnhap']">
        <i class="fa fa-user-circle"></i>
        <span>Đăng nhập</span>      
      </a>
    </div>    
    <ng-template #logout>
      <div>
        <span>Xin chào {{hoten}}</span>|
        <a href="" [routerLink] = "['/dangnhap']" (click)="Logout()">Logout</a>
      </div>
    </ng-template>     
</header>
