<!-- <owl-carousel [options]="Options"  [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item" *ngFor="let phim of DanhSachPhimDangChieu">
    <app-itemphim [phim] = "phim"></app-itemphim>
  </div>   
 </owl-carousel> -->

 <owl-carousel
     [options]="Options"     
     [items]="DanhSachPhimDangChieu"    
     [carouselClasses]="['owl-theme', 'row', 'sliding']">
     <div class="item" *ngFor="let phim of DanhSachPhimDangChieu">
      <app-itemphim [phim] = "phim" (emitTrailer)="LayTrailerParent($event)"></app-itemphim>
     </div>
 </owl-carousel>
 <!-- The Modal -->
 <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">          
          <iframe width="100%" height="100%" [src]="trailer | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
 

  