<!-- <owl-carousel [options]="Options"  [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item" *ngFor="let phim of DanhSachPhimDangChieu">
    <app-itemphim [phim] = "phim"></app-itemphim>
  </div>   
 </owl-carousel> -->

 <owl-carousel
     [options]="Options"     
     [items]="DanhSachPhimDangChieu"    
     [carouselClasses]="['owl-theme', 'row', 'sliding']">
     <div class="item" *ngFor="let phim of DanhSachPhimDangChieu">
      <app-itemphim [phim] = "phim"></app-itemphim>
     </div>
 </owl-carousel>
 
 

  