/* HEADER*/
.header {
  background-color: #263342;
  color: white;
  padding-bottom: 10px;
  /*
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:9;
  */ }

.logo img {
  height: 50px; }

.logo a {
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 4px solid transperent;
  padding: 22px 0;
  cursor: pointer;
  color: white; }
.logo a:hover {
  border-bottom: 4px solid #008fe1;
  transition: all 0.2s; }

.login {
  font-size: 1.1rem; }

.login a {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s;
  color: white; }
.login .login-dangnhap:hover {
  color: #008fe1 !important; }
.login .login-dangky {
  background-color: #008fe1;
  padding: 10px 12px;
  border-radius: 5px; }
.login .login-dangky:hover {
  background-color: #049df5; }

.popover {
  max-width: 100%;
  margin-top: 26px;
  padding: 10px; }

/*header bottom */
.header-bottom {
  width: 100%;
  background: rgba(38, 51, 66, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  padding: 20px 0;
  display: none; }

.header-bottom a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.2s; }
.header-bottom .header-bottom-dangnhap, .header-bottom .header-bottom-dangky {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px; }
.header-bottom .header-bottom-dangnhap:hover {
  color: #008fe1; }
.header-bottom .header-bottom-dangky {
  background-color: #008fe1;
  border: none; }
.header-bottom .header-bottom-dangky:hover {
  background-color: #049df5; }

/*END HEADER */
/*BANNER*/
.banner {
  position: relative;
  width: 100%; }

.banner-top {
  width: 100%;
  position: relative;
  height: 670px;
  background-image: url("../images/img_topbg_home.png");
  background-size: cover;
  background-position: center top; }

.banner-top-opacity {
  background: #263342;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.banner-bottom {
  height: 500px;
  background: url("https://xedike.vn/static/img_background_5trip.6ad1787f.png") no-repeat center bottom; }

.banner-middle {
  height: 650px;
  /*background-color:black;
  opacity: 0.2;*/
  width: 100%;
  position: absolute;
  top: 15%;
  z-index: 1;
  padding: 0 5%;
  text-align: center; }

.banner-middle-content {
  width: 90%;
  margin: auto; }

.banner-content-header {
  color: white; }

.banner-content-header h1 {
  font-size: 46.3px; }
.banner-content-header p {
  font-size: 26.7px;
  padding-top: 30px; }

.form-search {
  width: 100%;
  /*opacity:0.3;*/
  margin-top: 80px; }

.noidi {
  border-right: 1px solid #e8e5e5;
  background-color: white;
  position: relative;
  border-radius: 5px 0 0 5px;
  height: 60px; }

.noiden {
  background-color: white;
  position: relative;
  height: 60px;
  border-right: 1px solid #e8e5e5; }

.noidi .box, .noiden .box {
  width: 100%; }
.noidi .nice-select, .noiden .nice-select {
  width: 100%;
  height: 60px;
  border: none;
  padding-top: 10px;
  padding-left: 10%;
  border-radius: 5px 0 0 5px; }
.noidi .nice-select .current, .noiden .nice-select .current {
  font-size: 1.3rem;
  font-weight: 500; }
.noidi .icon-noidi, .noiden .icon-noidi {
  position: absolute;
  top: 23%;
  left: 2%;
  font-size: 20px;
  color: #2bc71f;
  z-index: 2; }
.noidi .nice-select.open .list, .noiden .nice-select.open .list {
  width: 100%; }
.noidi .icon-noidi, .noiden .icon-noiden {
  color: #f95f48;
  position: absolute;
  top: 23%;
  left: 2%;
  font-size: 20px;
  z-index: 2; }

.ngaythang {
  height: 60px; }

.ngaythang input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 0; }
.ngaythang .input-group-append {
  background-color: white;
  padding-top: 10px; }
.ngaythang .input-group-append .btn-outline-secondary {
  border: none; }

.songuoi {
  height: 60px;
  position: relative; }

.icon-nguoi {
  position: absolute;
  top: 22%;
  left: 5%;
  z-index: 2;
  font-size: 1.2rem; }

.icon-nguoi i {
  color: #e6e5e5; }

.cho {
  position: absolute;
  top: 25%;
  right: 10%;
  z-index: 2;
  font-weight: 500;
  font-size: 1.2rem; }

.btn-search {
  height: 60px;
  position: relative; }

.btn-search button {
  height: 60px;
  border-radius: 0 5px 5px 0;
  width: 100%;
  background-color: #008fe1;
  color: white;
  font-size: 1.2rem; }
.btn-search .icon-search {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 24%;
  left: 15%; }

.banner-content-intro {
  background: #ffffff;
  border-radius: 5px;
  border: #dddddd solid 1px;
  width: 95%;
  margin: 0 auto;
  margin-top: 90px; }

.intro-item {
  cursor: pointer; }

.item1-title span {
  font-size: 0.9rem;
  font-weight: 500; }

.item1-content i {
  font-size: 1.2rem;
  color: #b9b6b6; }
.item1-content span {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px; }

.item1-content {
  margin-top: 40px; }

.item2-title i, .item2-content i {
  font-size: 1.2rem;
  color: #b9b6b6; }
.item2-title span, .item2-content span {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
  color: #7b7979; }

.item2-content {
  margin-top: 40px; }

.item3-title img {
  width: 40 px;
  height: 40px;
  border-radius: 50%; }
.item3-title span {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 600; }

.item3-content {
  margin-top: 20px; }

.item3-content-left {
  width: 35px;
  height: 35px;
  background-color: #ffdd61;
  border-radius: 50%;
  border: 1px solid #ffbf00; }

.item3-content-left span {
  line-height: 35px;
  font-weight: 500; }

.item3-content-right i {
  font-size: 1rem;
  color: #ffdd61; }
.item3-content-right span {
  font-size: 0.9rem;
  display: block;
  margin-top: -6px; }

.item3-content-right {
  margin-top: -2px; }

.item4-title {
  padding-top: 10px; }

.item4-title .gia {
  font-size: 1.5rem;
  font-weight: 600; }
.item4-title .vnd {
  font-size: 0.7rem; }

.item4-content {
  margin-top: 18px; }

.item4-content a {
  color: white;
  background-color: #f96d00;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px; }

.item-line {
  height: 1px;
  background-color: #efe7e7; }

/*END BANNER */
/*DRIVER*/
.driver {
  margin: 100px 0; }

.driver-intro {
  position: relative; }

.driver-1 {
  position: absolute;
  top: 0;
  left: 25%; }

.become-driver {
  margin-left: 20px;
  margin-top: 40px; }

.become-driver h1 {
  font-size: 31px; }
.become-driver p {
  color: #707070;
  margin-top: 30px;
  line-height: 2em;
  font-size: 16px;
  white-space: normal;
  margin-bottom: 40px; }
.become-driver a {
  color: white;
  background-color: #008fe1;
  padding: 12px 35px;
  border-radius: 5px;
  font-size: 1.1rem; }
.become-driver a:hover {
  text-decoration: none; }

/*END DRIVER*/
/*ABOUT US*/
.about {
  background-color: #f3fcff; }

.about-us {
  padding: 100px 0; }

.about-title h1 {
  font-size: 2rem; }
.about-title p {
  font-size: 16px;
  color: #707070;
  margin-top: 30px; }

.about-item h1 i {
  font-size: 4rem;
  color: #008fe1; }
.about-item h2 {
  font-size: 20px;
  margin-top: 30px; }
.about-item p {
  font-size: 16px;
  line-height: 2em;
  color: #707070; }

/*END ABOUT US*/
/*REPORT*/
.report {
  width: 100%;
  height: 600px;
  background: url("../images/img_background_static.png") no-repeat bottom;
  background-size: cover; }

.report-mark {
  background-color: #263342;
  opacity: 0.9;
  height: 600px; }

.report-content {
  padding: 100px 0; }

.report-img {
  position: relative;
  width: 100%;
  margin-top: 20px; }

.ipad {
  position: absolute;
  top: 10%;
  left: 0;
  height: 82%; }

.report-item h1 {
  color: #008fe1; }
.report-item h2 {
  font-size: 20px;
  color: #ffffff; }
.report-item p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-align: justify; }

/*END REPORT*/
/*PROMOTION*/
.promotion {
  background-color: #f96d00; }

.promo-content h4 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 30px; }
.promo-content p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 25px; }

.promo-btn {
  margin-top: 40px; }

.promo-btn a {
  color: #f96d00;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 1.1rem; }
.promo-btn a:hover {
  text-decoration: none; }

.footer-line {
  height: 1px;
  background-color: #efe7e7; }

/*END PROMOTION*/
/*FOOTER*/
.item-right {
  margin-top: 18px; }

.item-right i {
  color: #c7c5c5; }

.item-right-hotro {
  letter-spacing: -1px;
  font-weight: 500; }

.socal i {
  font-size: 3rem;
  color: #008fe1;
  margin-left: 10px; }

.footer-item-left {
  margin: 10px 0; }

.footer-item-left ul {
  list-style: none;
  padding: 0; }
.footer-item-left ul li {
  padding: 5px 0;
  margin-bottom: 5px; }
.footer-item-left ul li strong {
  font-size: 1.5rem; }
.footer-item-left ul li a {
  color: gray;
  text-decoration: none; }

.footer-bot-item span {
  font-size: 13px; }

/*END FOOTER*/
/* REPONSIVE */
@media screen and (max-width: 1200px) {
  .banner-middle-content {
    width: 100%; }

  .banner-content-intro {
    width: 100%; } }
@media screen and (max-width: 992px) {
  .become-driver {
    text-align: center; }

  .noidi, .noiden {
    margin-bottom: 10px;
    border-radius: 5px; }

  .ngaythang-songuoi {
    margin-bottom: 10px; }

  .ngaythang {
    margin-right: 10px; }

  .ngaythang input {
    border-radius: 5px; }

  .ngaythang .input-group-append {
    border-radius: 0px 5px 5px 0px; }

  .songuoi .spinner input {
    border-radius: 5px 0 0 5px; }

  .input-group-btn-vertical > .btn:first-child {
    border-radius: 0 5px 0 0; }

  .input-group-btn-vertical > .btn:last-child {
    border-radius: 0 0 5px 0; }

  .btn-search button {
    border-radius: 5px; } }
@media screen and (max-width: 768px) {
  .login {
    display: none; }

  .header-bottom {
    display: block; }

  .banner-content-header h1 {
    font-size: 2rem; }
  .banner-content-header p {
    font-size: 1rem; }

  .report, .report-mark {
    height: 841px; } }
@media screen and (max-width: 576px) {
  .footer {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
