.movie_item{
    width:100%;
    text-align: center;
}
.itemphim_img{
    width: 100%;
    position: relative;
}
.movie_item img{
    width:100%;
    border-radius: 5px;
}

.btn-play-itemphim{
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px 20px;
    position: absolute;
    top: 45%;
    left: 40%;
    display:none;
}
.btn-play-itemphim i{
    font-size: 20px;
    color: white;
}

.movie_item p{
    font-size: 18px;
    margin: 15px;
}
.movie_item .btn-xemthem{
    width: 100%;
    border-radius: 5px;
    border:none;
    background-color: #c9021a;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    display: none;
}
.movie_item:hover button{
    display: block;
}
.movie_item:hover p{
    display: none;
}

