<div class="tintuc2">
  <div class="thumnail">    
    <img src="../../../assets/imgs/dien-vien-harry-potter-chia-se-ve-kha-nang-loat-phim-duoc-lam-lai.jpg" alt="">    
  </div>
  <div class="tieude">
    <a href="#">Diễn viên Harry Porter chia sẻ về khả năng loạt phim được làm lại</a>
      <!-- <p>Diễn viên Harry Porter chia sẻ về khả năng loạt phim được làm lại</p> -->
  </div>

  <!-- <div class="row">
    <div class="col-3">
      <img src="../../../assets/imgs/dien-vien-harry-potter-chia-se-ve-kha-nang-loat-phim-duoc-lam-lai.jpg" alt="">
    </div>
    <div class="col-9">
      <p>Diễn viên Harry Porter chia sẻ về khả năng loạt phim được làm lại</p>
    </div>
  </div> -->
</div>